header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
}
li{
    display: inline-block;
    margin: 2rem;
    cursor: pointer;
}
h1{
    color: blue;
    font-size: 10px;
}