header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71cff5;
    color: white;
    border:  3px solid yellow;
}
li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}